* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#form_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    margin: auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-top : 10px solid #0071ce;
    border-radius: 0px 0px 3px 3px;
    max-width: 850px;
}
#form_wrapper:hover {
    box-shadow: 1px 1px #ddd;
}
#form_wrapper input:hover {
    border: 2px solid #0071ce;
}
#form_wrapper input:focus {
    outline: unset;
}
#heartland_form {
    width: 90%;
    max-width:550px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
#form_wrapper #heartland_form>input, #form_wrapper #heartland_form button, #form_wrapper #optin_wrapper {
    margin-bottom: 20px;
    width: 100%;
}
#form_wrapper button, #form_wrapper input[type=radio], #form_wrapper input[type=checkbox]{
    cursor: pointer;
}
#form_wrapper label {
    width: 100%;
}

#form_wrapper #optin_wrapper {
    margin-bottom: 20px;
}

#form_wrapper #optin_wrapper input[type=checkbox] {
    vertical-align: middle;
}
#zip_age_wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#zip_age_wrapper label{
     width: unset;
}
#zip_age_wrapper input, #form_wrapper input {
    width: unset;
    padding: 5px;
}

#form_wrapper #age_confirm_radios {
    margin-bottom: 20px;
}

#form_wrapper button#submit_btn {
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    border: none;
}
#form_wrapper button:focus {
    border: none;
    appearance: none;
    outline: none;
}
#form_wrapper button:hover {
    background-color: #0071ce;
    color: white;
}

#required_notice {
    font-size:10px;
    display: block;
    margin: auto;
}

@media (max-width:850px) {
    #zip_age_wrapper {
        grid-template-columns: 1fr;
    }
    #zip_age_wrapper input#zip {
        margin-bottom: 20px;
    }
}