* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
*:focus {
    outline: unset;
}

#form_wrapper #message {
    text-align: center;
    padding-bottom: 25px;
}
#form_wrapper .input_icon.valid, #form_wrapper .input_icon.invalid {
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
 .valid {
     background: url('../imgs/check.svg');
 }
 .invalid {
     background: url('../imgs/delete.svg');
 }

#form_wrapper .bold {
    font-weight: bold;
}
#form_wrapper .input_wrapper {
    height: 50px;
    border-radius: 0px;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 40px 12fr;
    position: relative;
}
#form_wrapper .input_icon, #form_wrapper input {
    background-color: #fff;
}

#form_wrapper .input_wrapper input {
    border: none;
}
#form_wrapper .input_wrapper:hover {
    border: 1px solid #0071ce;
}
#form_wrapper .input_wrapper .validation_message {
    position: absolute;
    bottom: 2px;
    left: 40px;
    font-size: 12px;
    color: #ff0033;
}
.terms_error {
    color: #ff0033;
}
#form_wrapper_top {
    height: 10px;
    background-color: #0071ce;
    width: 75%;
    max-width: 850px;
    display: grid;
    margin: auto;
    margin-top: 25px;
}
#form_wrapper_top.dark {
    background-color: #FFF;
}

#form_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    margin: auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 0px 0px 3px 3px;
    max-width: 850px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#form_wrapper:hover {
    box-shadow: 0px 2px #ddd;
}
#form_wrapper.dark:hover {
    box-shadow: 0px 2px #FFF;
}

#form_wrapper input:focus {
    outline: unset;
}
#heartland_form {
    width: 90%;
    max-width:550px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
#form_wrapper #heartland_form>input, #form_wrapper #heartland_form button, #form_wrapper #optin_wrapper {
    width: 100%;
}
#form_wrapper button, #form_wrapper input[type=radio], #form_wrapper input[type=checkbox]{
    cursor: pointer;
}
#form_wrapper label {
    width: 100%;
}
#form_wrapper #optin_wrapper label {
    width: fit-content;
}

#form_wrapper #optin_wrapper {
    margin-bottom: 20px;
}

#form_wrapper #optin_wrapper input[type=checkbox] {
    vertical-align: middle;
}
#zip_age_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    align-items: center;
}

#zip_age_wrapper label{
     width: unset;
}
#zip_age_wrapper input, #form_wrapper input {
    width: unset;
}

#form_wrapper #terms_radios {
    margin-bottom: 20px;
}

#form_wrapper button#submit_btn {
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    border: none;
}
#form_wrapper button:focus {
    border: none;
    appearance: none;
    outline: none;
}
#form_wrapper button:hover {
    background-color: #0071ce;
    color: white;
}
#form_wrapper.dark button:hover {
    background-color: #03DAC6;
}

#required_notice {
    font-size:10px;
    display: block;
    margin: auto;
    margin-top: 15px;
}

#terms_radios>label {
    position: relative;
    height: 25px;
    display: inline-block;
    width: auto;
}
#terms_radios input {
    opacity: 0;
}
#terms_radios .checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50px;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
}
#terms_radios .checkmark:hover {
    background-color: #ddd;
}
#form_wrapper.dark #terms_radios input:checked ~ .checkmark {
    background-color: #03DAC6;
}
#terms_radios input:checked ~ .checkmark {
    background-color: #0071ce;
}
#terms_radios input ~ .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
#terms_radios input:checked ~ .checkmark:after {
    display:block;
}
#terms_radios .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
#terms_radios .radio-text {
    margin: 0 5px 0 5px;
}

#optin_wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}
#optin_wrapper .checkbox {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: pointer;
}
#optin_wrapper>label {
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
#optin_wrapper:hover input ~ .checkbox {
    background-color: #ddd;
}
#optin_wrapper input:checked  ~ .checkbox {
    background-color: #0071ce;
}
#form_wrapper.dark #optin_wrapper input:checked  ~ .checkbox {
    background-color: #03DAC6;
}
#optin_wrapper .checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
#optin_wrapper input:checked ~ .checkbox:after {
    display: block;
}

#optin_wrapper .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.style-toggle {
    display:block;
    text-align:center;
    margin-top: 25px;
}
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #121212;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.style-toggle p {
    font-size: 10px;
}

#zip_age_wrapper #age {
}

#form_wrapper.dark {
    background-color: #121212; 
    border: 1px solid #121212;
    color:#03DAC5; 
    color: #fff;
}
#form_wrapper.dark .input_wrapper:hover {
    border: 1px solid #03DAC5;
}
.terms_error {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}
@media (max-width:850px) {
    #zip_age_wrapper {
        grid-template-columns: 1fr;
    }
    #zip_age_wrapper input#zip {
    }
}

@media (max-width: 360px) {
    #heartland_form {
        margin: unset;
        font-size: 12px;
    }
    #form_wrapper {
        padding: 10px;
        justify-items: center;
        width: 90%;
    }
    #form_wrapper_top {
        width: 90%;
    }
    #terms_radios label {
        margin-top: 5px;
    }
}
@media (max-width: 600px) {
    #optin_wrapper>label {
        line-height: 18px;
        height: unset;
        display: grid;
        grid-template-columns: 1fr;
    }
    #optin_wrapper span.checkbox {
        position: unset;
        padding: 5px 0 0 8px;
    }
    #form_wrapper #optin_wrapper label {
        align-items: center;
    }
    #optin_wrapper .checkbox:after {
        position: unset;
    }
    #form_wrapper .input_wrapper .validation_message {
        font-size: 9px;
    }
}